version: '3.8'
services:
  usuario-service:
    build: .
    ports:
      - "8082:8082"
    volumes:
      - ./src/main/resources/wallet:/app/wallet:ro
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    restart: unless-stopped
    dns:
      - 8.8.8.8  
      - 1.1.1.1  